# Dataset
datasets/
datasets/

# YOLO models
*.pt

# YOLO output
runs/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment
.env

# Conda / venv
venv/
.venv/

# Jupyter
.ipynb_checkpoints/